<header>
    <nav class="main_nav">
        <a href="/bats.html">BATS</a>
        <a href="/carelogs">CARE LOGS</a>
        <a href="/persons.html">PERSONS</a>
        <a href="/status.html">STATUS</a>
        <a href="/species.html">SPECIES</a>
        <a href="/medicalcares.html">MEDICAL TREATMENTS</a>
    </nav>
    <h1>databats.</h1>
</header>
