<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        {{> header}}


<main>
    <div id="browse">
    <table id="carelogsmedicalcares_table">
        <caption></caption>
        {{!-- Header section --}}
        <thead>
            <tr>
                <th width=4%></th>
                <th width=4%>id</th>
                <th>idCareLog</th>
                <th>idMedicalCare</th>
            </tr>
        </thead>

            {{!-- Body section --}}
        <tbody>
            {{#each carelogsmedicalcares}}
            <tr>
                <td></td>
                <td>{{this.idCareLogMedicalCare}}</td>
                <td>{{this.idCareLog}}</td>
                <td>{{this.idMedicalCare}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    </main>
    <hr>
</div>
