<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{{> header}}

<!-- index.hbs -->

<!--     
    Citation for the following function: 
    Date: 10/12/2023
    Copied from /OR/ Adapted from /OR/ Based on: code from Dr. Curry
    Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app 
-->

<main>
</main>




{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="js/add_bat.js"></script>
<script src="js/delete_bat.js"></script>
<script src="js/update_bat.js"></script>