<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{{> header}}

<main>
  <div id="browse">
    <table id="persons_table">

      {{!-- Header section --}}
      <thead>
        <tr>
          <th width=110px><button class="modify" onClick="newRecord()">add</button></th>
          <th width=4%>id</th>
          <th width=83%>person name</th>
          <th></th>
        </tr>
      </thead>

      {{!-- Body section --}}
      <tbody>
        {{#each persons}}
        <tr>
          <td></td>
          <td class="id">{{this.idPerson}}</td>
          <td>{{this.name}}</td>
          <td><button class="modify accent" onclick="deletePerson({{this.idPerson}})">delete</button></td>
        </tr>
        {{/each}}
      </tbody>
    </table>

  </div>
  <div id="insert" style="display: none">
    <form id="add_person_form_ajax">
      <table class="insert_table">
        <tr>
          <th>name</th>
        </tr>
        <tr>
          <td>
            <textarea name="name" id="input_name" placeholder="max. 30 characters"></textarea>
          </td>
        </tr>
      </table>
      <div class="space"></div>
      <div class="actions">
        <button class="modify confirm" type="submit" id="addPerson">confirm</button>
        <button class="modify accent" type="button" onClick="browseRecords()">cancel</button>
      </div>
    </form>
  </div>
</main>
</div>


{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="js/add_person.js"></script>
<script src="js/delete_person.js"></script>