
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        {{> header}}

<!-- index.hbs -->

<!--     
    Citation for the following function: 
    Date: 10/12/2023
    Copied from /OR/ Adapted from /OR/ Based on: code from Dr. Curry
    Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app 
-->

<main>
    <div id="browse">
    <table id="species_table">
        
        {{!-- Header section --}}
        <thead>
            {{!-- For just the first row, we print each key of the row object as a header cell so we
            know what each column means when the page renders --}}
            <tr>
                <th width=110px><button class="modify" onClick="newRecord()">add</button></th>
                <th width=4%>id</th>
                <th>species name</th>
            </tr>
        </thead>

            {{!-- Body section --}}
        <tbody>
            {{#each species}}
            <tr>
                <td></td>
                <td class="id">{{this.idSpecies}}</td>
                <td>{{this.name}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
        
    </div>
        <div id="insert" style="display: none">
            <form id="add_species_form_ajax">
                  <table class="insert_table">
                    <tr>
                      <th>name</th>
                    </tr>
                    <tr>
                      <td>
                        <textarea name="name" id="input_name" placeholder="max. 30 characters"></textarea>
                      </td>
                    </tr>
                  </table>
                <div class="space"></div>
                  <div class="actions">
                    <button class="modify commit" type="submit" id="addSpecies">commit</button>
                  <button class="modify accent" type="button" onClick="browseRecords()">cancel</button>
                  </div>
              </form> 
        </div>
    </main>
</div>




{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="js/add_species.js"></script>
